    @media screen and (max-width: 320px) {

    

    .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
    }

    .navbar {
        display: flex;
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }

    .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    }

    .navbar .menu-items {
    display: flex;
    }

    .navbar .nav-container li {
    list-style: none;
    }

    .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    }

    .navbar .nav-container a:hover{
        font-weight: bolder;
    }

    .nav-container {
    display: block;
    position: relative;
    height: 20px;
    }

    .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: -51px;
    left: 1px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    }

    .nav-container .hamburger-lines {
    display: block;
    height: 13px;
    width: 20px;
    position: absolute;
    top: -42px;
    left: 6px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    }

    .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    }

    .logo-bar {
        position: absolute;
        top: -42px;
        right: 74px;
        font-family: Cousine;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #565656;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
    }


    .navigation {
        display: flex;
        flex-direction: column;
        gap: 19px;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .login-mob{
        display: flex;
        top: 165px;
        position: absolute;
        left: 75px;
    }
    .bag-mob{
        display: none;
    }
    .header-drop{
        display: flex;
        gap: 50px;
    }

    .header
        {
        background-color: #f6f6f6;;
        display: flex;
        gap: 27px;
    }

    .set_none {
        display: block;
    }

    .flag {
        display: none;
    }

    .search {
        display: block;
        position: relative;
        left: 20px;
        top: 54px;
    }

    .field_head {
        width: 226px;
        height: 38px;
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        position: relative;
        padding-left: 11px;
        padding-right: 43px;
        outline: none;
    }
    

    .but_head {
        margin-top: 0;
    }

    .browse {
        height: 38px;
        width: 38px;
        background-color: #ffffff;
        position: absolute;
        right: 20%;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        border-left: none;
        border-right: none;
    }

    .logo_navigation {
        display: block;
        justify-content: space-between;
        position: relative;
        bottom: 30px;
        margin-bottom: 118px;
    }

    .logo {
        display: flex;
        justify-content: center;
        font-family: "Merriweather Sans";
        font-size: 44px;
        line-height: 19px;
        font-weight: 700;
        color: #454545;
        align-items: center;
        gap: 12px;
        margin-bottom: 0;
        &__tb-fot{
            margin-bottom: 0px;
        }
    }

    .navigation_page {
        display: none;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .header_setup {
        width: 100vw;
        margin-bottom: -22px;
    }

    .section_slider {
        width: 100vw;
        height: 185px;
        background-color: #cccccc;
        position: relative;
    }

    .content_slider {
        display: none;
        position: absolute;
        right: 88px;
        top: 77px;
    }

    .check {
        font-family: Cousine;
        font-size: 22px;
        line-height: 34px;
        font-weight: 700;
        text-transform: uppercase;
        color: #555555;
        margin-bottom: 16px;
    }

    .autumn {
        font-family: 'Merriweather Sans';
        font-size: 75px;
        line-height: 60px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
        color: #ffffff;
        margin-bottom: 14px;
    }

    .trends {
        font-family: 'Roboto Condensed';
        font-size: 26px;
        line-height: 25px;
        font-weight: 700;
        text-transform: uppercase;
        color: #4c4c4c;
        margin-bottom: 20px;
    }

    .buttons_slide {
        display: none;
        position: absolute;
        top: 187px;
    }

    .right {
        &__but {
            border: 3px solid #ffffff;
            border-radius: 100%;
            padding: 6px 12px;
            display: flex;
            position: absolute;
            left: 92vw;
        }

        &__but1 {
            border: 3px solid #ffffff;
            border-radius: 100%;
            padding: 6px 12px;
            display: none;
            position: absolute;
            top: 112px;
            left: 396px;
        }

        &__from {
            border: 3px solid #ffffff;
            border-radius: 100%;
            padding: 0px 6px;

        }
    }
   


    .resolution {
        display: flex;
        justify-content: end;
        margin-top: 3px;
        margin-right: 6px;

        &__bl1 {
            display: flex;
            justify-content: end;
            margin-top: 3px;
            margin-right: 6px;
        }

        &__block1 {
            font-family: Arial;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
        }

        &__bl3 {
            display: flex;
            justify-content: center;
        }

        &__block3 {
            font-family: Arial;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 175px;
        }

        &__bl4 {
            display: flex;
            justify-content: end;
            margin-top: 6px;
            margin-right: 7px;
        }

        &__block4 {
            font-family: Arial;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
        }

        &__bl5 {
            display: flex;
            justify-content: end;
            margin-top: 7px;
            margin-right: 5px;
            &__tb{
                display: flex;
                justify-content: end;
                margin-top: 7px;
                margin-right: 8px; 
            }
        }
      
        &__block5 {
            font-family: Arial;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
        }

        &__bl9 {
            display: flex;
            justify-content: end;
            margin-top: 7px;
            margin-right: 8px;
        }

    }

    .resolution_value {
        font-family: Arial;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    .but_down {
        display: none;
        justify-content: center;
        gap: 10px;
        margin-top: -19px;

        &__block5 {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 18px;
            margin-bottom: 20px;
        }
    }

    .circle {
        width: 13px;
        height: 13px;
        background-color: rgba(85, 85, 85, 0.0);
        border: 2px solid #ffffff;
    }

    .pos_grid {
        display: flex;
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        position: absolute;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 95%;
    }
   

    .left {
        &__but {
            border: 3px solid #ffffff;
            border-radius: 100%;
            padding: 6px 12px;
            display: flex;
            position: absolute;
            left: 2vw;
        }

        &__but1 {
           
            border: 3px solid #ffffff;
            border-radius: 100%;
            padding: 6px 12px;
            display: none;
            top: 112px;
            margin-left: 15px;
            position: absolute;
        }

        &__from {
            border: 3px solid #ffffff;
            border-radius: 100%;
            padding: 0px 6px;

        }
    }

    .text {
        &__block1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid rgba(255, 255, 255, 0.29);
            margin: 0;
            padding: 39px 13px;
            gap: 8px;
        }

        /*&__block1-hover{
            display: none;
            flex-direction: column;
            align-items: center;
        }*/


        &__block3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__block4 {
            display: flex;
            gap: 11px;
            flex-direction: column;
            align-items: center;
            margin-top: 46px;
        }

        &__block5 {
            display: flex;
            gap: 19px;
            flex-direction: column;
            align-items: center;
            margin-top: 113px;
        }

        &__block7 {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 14px;
        }

        &__block9 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 66px;
            margin-bottom: 83px;
        }
    }

    .t {
        &__bl1 {
            display: flex;
            align-items: baseline;
            gap: 8px;
        }

        /*&__bl1-hover{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }*/

        &__bl7 {
            display: flex;
            align-items: baseline;
            gap: 7px;
            margin-top: 42px;
        }

    }

    .exclusive {
        font-family: Cousine;
        font-size: 21px;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .disc {
        font-family: 'Roboto Condensed';
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    .the {
        font-family: Cousine;
        font-size: 14.3px;
        line-height: 31px;
        font-weight: 700;
        color: #2f2f2f;
        margin-top: 29px;
    }

    .hottest_style {
        display: flex;
        align-items: baseline;
        gap: 7px;
    }

    .rectangle_black {
        width: 40px;
        height: 2px;
        background-color: #333333;
    }

    .hottest {
        font-family: 'Merriweather Sans';
        font-size: 19.8px;
        line-height: 31px;
        font-weight: 800;
        text-transform: uppercase;
        color: #333333;
    }

    .here {
        font-family: 'Roboto Condensed';
        font-size: 15.8px;
        line-height: 31px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2f2f2f;
    }

    .href {
        &__block1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
        }

        &__block3 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 233px;
        }

        &__block4 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 38px;
        }

        &__block5 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 110px;
        }

        &__block7 {
            display: flex;
            justify-content: center;
            margin-top: 48px;
        }
    }

    .jewerly {
        font-family: 'Merriweather Sans';
        font-size: 35px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .free {
        font-family: 'Roboto Condensed';
        font-size: 20px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .lookbook {
        font-family: 'Roboto Condensed';
        font-size: 35px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .rec_wom {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 0px;
    }
    .women {
        font-family: Cousine;
        font-size: 18px;
        line-height: 40px;
        font-weight: 700;
        color: #ffffff;
    }
    .autum {
        font-family: Cousine;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .new {
        font-family: "Roboto Condensed";
        font-size: 28px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .rectangle_white {
        width: 101px;
        height: 3px;
        background-color: #ffffff;

        &__bl1 {
            width: 70px;
            height: 2px;
            background-color: #ffffff;
        }

        &__bl7 {
            width: 42px;
            height: 3px;
            background-color: #ffffff;
        }

        &__exc {
            width: 53px;
            height: 1px;
            background-color: #ffffff;
        }

        &__wom {
            width: 80px;
            height: 1px;
            background-color: #ffffff;
        }
        &__mob{
            width: 16px;
            height: 3px;
            background-color: #ffffff;
        }
    }

    .acess {
        font-family: "Merriweather Sans";
        font-size: 25px;
        line-height: 18px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
    }

    .complete {
        font-family: "Roboto Condensed";
        font-size: 21px;
        line-height: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }
    .content-mob{
        display: block;
        width: 100vw;
        padding: 28px 7px 30px 8px;
        border: 1px solid rgba(255,255,255,0.29);
    }
    .cont1{
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 4px;
        margin-bottom: 13px;
        
    }
    .everyone{
        font-family: 'Roboto Condensed';
        font-size: 18px;
        line-height: 17px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    .you-pay{
        font-family: 'Merriweather Sans';
        font-size: 34px;
        line-height: 17px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
    }
    .get {
        font-family: "Merriweather Sans";
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    .grey_bg {
        width: 100vw;
        height: 1884px;
        background-color: #f3f3f3;
        position: relative;
    }

    .menu {
        margin-top: 31px;
        margin-bottom: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    .nav-hr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }

    .prodct_content {
        display: flex;
        flex-direction: column;
        gap: 46px;
    }

    .cart_img {
        width: 280px;
        height: 364px;
        background-color: #cccccc;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fine {
        display: none;
    }

    .text_prod {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }

    .sale-prod {
        font-family: Arial;
        font-size: 17px;
        line-height: 17px;
        font-weight: 900;
        color: #cf4647;
        border: 3px solid #cf4647;
        padding: 5px;
        margin-right: 218px;
    }

    .square {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .vertical {
        width: 3px;
        height: 16px;
        background-color: #444444;
        margin-left: 10px;
        margin-right: 15px;
    }

    .hr-prod {
        display: flex;
        justify-content: center;
        border: 2px solid #444444;
        padding: 9px 0px;
        margin-top: 9px;
        margin-bottom: 8px;
        width: 228px;
    }

    .show_more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .black_line {
        width: 75px;
        height: 1px;
        background-color: #dddddd;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 81px;
    }

    .about_us {
        margin-bottom: 40px;
    }
    .black_bcg {
        background-color: #1f1f1f;
        display: flex;
        justify-content: flex-end;
    }

    .fengo-shop {
        margin-top: 50px;
        margin-bottom: 29px;
        font-family: Cousine;
        font-size: 16px;
        line-height: 40px;
        font-weight: 400;
        text-transform: uppercase;
        color: #b6b6b6;
    }

    .cart_us {
        display: flex;
        gap: 19px;
    }

    .img-av {
        width: 120px;
        height: 120px;
        background-color: #cccccc;
    }

    .res {
        display: none;
    }

    .text_us {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 17px;
    }

    .morbi {
        font-family: Arial;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #888888;
        width: 76%;
    }
    

    .from_blog {
        margin-top: 40px;
        margin-bottom: 39px;
    }

    .img1 {
        width: 280px;
        height: 205px;
        background-color: #cccccc;
    }

    .pellentesque {
        font-family: Cousine;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #999999;
        margin-top: 18px;
    }

    .img2 {
        width: 175px;
        height: 128px;
        background-color: #cccccc;
    }

    .cura_img { 
        display: none;
        width: 175px;

        &__fav {
            display: flex;
            flex-direction: column;
            width: 130px;
        }
    }
    .img_from {
        display: flex;
        justify-content: center;
    }
    .message {
        margin-top: 40px;
    }
    .head-quik {
        font-family: Cousine;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        text-transform: uppercase;
        color: #b6b6b6;
    }

  

    .cont_mes {
        margin-top: 26px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .atlas {
        width: 280px;
        height: 130px;
        object-fit: cover;
    }

    .map {
        width: 280px;
        height: 130px;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .inp {
        width: 280px;
        height: 30px;
        background-color: rgba(42, 42, 42, 0);
        border: 1px solid #666666;
        color: #666666;
        padding-left: 5px;
        padding-right: 5px;
    }

    .inp__mes {
        width: 280px;
        height: 100px;
        background-color: rgba(42, 42, 42, 0);
        border: 1px solid #666666;
        color: #666666;
        padding-left: 5px;
        padding-right: 5px;
    }

    .email {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .inp_mail {
        width: 218px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #666666;
        padding-left: 19px;
        padding-right: 43px;
        color: #666666;
    }

    .favorite {
        margin-top: 40px;
    }

    .head-but__fav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 104px;
        margin-bottom: 19px;
    }

    .blog {
        font-family: Cousine;
        font-size: 17px;
        line-height: 19px;
        font-weight: 400;
        text-transform: uppercase;
        color: #b6b6b6;
    }

    .img_from__fav {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 39px;
    }

    .img_fav {
        width: 130px;
        height: 169px;
        background-color: #cccccc;
    }

    .fav_text {
        display: flex;
        justify-content: space-between;
        margin-top: 19px;
        flex-direction: column;
        gap: 15px;
    }
    .pr_fav{
            display: flex;
            gap: 8px;
        }

    .puplum {
        font-family: "Merriweather Sans";
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: #888888;
    }

    .twitter {
        margin-top: 80px;
        margin-left: 10px;
    }

    .logo_fot {
        display: flex;
        gap: 20px;
        margin-bottom: 23px;
    }
    .txt_logo {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .vivamus {
        font-family: Arial;
        font-size: 14.1px;
        line-height: 20px;
        font-weight: 400;
        color: #888888;
        width: 84%;
    }

    .logo_but {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        gap: 53px;
    }
    .hr-twit {
        font-family: Arial;
        font-size: 13px;
        line-height: 26px;
        font-weight: 400;
        color: #666666;
        display: flex;
        gap: 6px;
        align-items: center;
    }
    .promokit {
        margin-top: 50px;
        margin-left: 10px;
    }

    .head_but__fav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 29px;
        gap: 139px;
    }

    .twit-promo {
        font-family: Cousine;
        font-size: 17.1px;
        line-height: 40px;
        font-weight: 400;
        text-transform: uppercase;
        color: #b6b6b6;
    }

    .facebook {
        margin-top: 81px;
    }

    .icon {
        display: flex;
        flex-direction: column;
        gap: 23px;
        justify-content: center;
        align-items: center;
        margin-top: 22px;
    }

    .icon1,
    .icon2 {
        display: flex;
        gap: 35px;
    }

    .rect {
        display: none;
    }

    .icon_fsb {
        width: 60px;
        height: 60px;
        background-color: #b5b5b5;
        border: 5px solid #2f2f2f;

        &__end {
            display: none;
        }
    }

    .buttons_from {
        display: flex;
        gap: 5px;
    }

    .information {
        margin-top: 60px;
    }
    .head_ul {
        font-family: Cousine;
        font-size: 17px;
        line-height: 19px;
        font-weight: 400;
        color: #b6b6b6;
        margin-bottom: 34px;
    }
    .hr_ul {
        font-family: Arial;
        font-size: 14px;
        line-height: 34px;
        font-weight: 400;
        color: #888888;
    }
    .head_myacc {
        font-family: Cousine;
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
        color: #b6b6b6;
        margin-bottom: 34px;
    }

    .my_acc {
        margin-top: 80px;
    }

    .customer {
        margin-top: 81px;
    }

    .contact_ul {
        margin-top: 78px;
    }

    .pay_footer {
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        align-items: center;
        padding-top: 78px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .pay_system {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        margin-right: 0;
    }

    .about {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        padding-left: 14px;
    }
    .tab_fot-pay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .res-fot {
        font-family: Arial;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: #666666;
    }
    .card_pay{
        display: flex;
    }
    .icon_fot {
        display: grid;
        grid-template: repeat(2,1fr)/repeat(6,1fr);
        gap: 0;
    }
    .style-fot{
        width: 100%;
    }
    .head-but {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 89px;
    }
    .fsb-text{
        margin-left: 10px;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    .reserved{
        position: relative;
        top: 112px;
    }
    .fot{
        right: 108px;
        position: relative;
    }
}