* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;

}

.header_setup {
    width: 100vw;
}

.setup {
    font-family: 'Merriweather Sans';
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e7e;

}

.navigation {
    display: flex;
    gap: 391px;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.header,
.header-drop {
    display: flex;
    gap: 40px;

}

.det {
    display: block;
    font-family: 'Merriweather Sans';
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e7e;
    position: relative;
}

.det:hover {
    background-color: #ffffff;

}

.det::-webkit-details-marker {
    display: none;
}

.det::after {
    content: '\22C1';
    padding-left: 4px;
}

details[open]>.det::after {
    content: '\22C0';
    padding-left: 4px;
}

.current {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    z-index: 1;
    position: absolute;
    padding: 11px;
}

.flag {
    padding-right: 5px;
}

.search {
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

.but_head {
    margin-top: 16px;
}

.field_head {
    width: 260px;
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    padding-left: 11px;
    padding-right: 43px;
    outline: none;
}

.browse {
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    position: absolute;
    right: 168px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-left: none;
    border-right: none;
}

.logo {
    display: flex;
    font-family: 'Merriweather Sans';
    font-size: 44px;
    line-height: 19px;
    font-weight: 700;
    color: #454545;
    align-items: center;
    gap: 12px;
}

.text_logo {
    font-family: 'Merriweather Sans';
    font-size: 44px;
    line-height: 19px;
    font-weight: 700;
    color: #454545;
}

.logo_navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 34px 19px;
}

.navigation_page {
    display: flex;
    gap: 50px;
    align-items: end;
}

.but_navig {
    font-family: Cousine;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
}

.but_navig:hover {
    color: black;
}

.section_slider {
    width: 100vw;
    height: 1070px;
    background-color: #cccccc;
    position: relative;
}

.check {
    font-family: Cousine;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 19px;
}

.autumn {
    font-family: 'Merriweather Sans';
    font-size: 100px;
    line-height: 80px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    margin-bottom: 18px;
}

.trends {
    font-family: 'Roboto Condensed';
    font-size: 35px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4c4c4c;
    margin-bottom: 29px;
}

.read {
    font-family: 'Merriweather Sans';
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    margin-top: 11px;
}

.content_slider {
    display: block;
    position: absolute;
    right: 426px;
    top: 378px;
}

.buttons_slide {
    display: block;
    position: absolute;
    top: 506px;
}

.left {
    &__but {
        border: 3px solid #ffffff;
        border-radius: 100%;
        padding: 6px 12px;
        display: flex;
        position: absolute;
        left: 2vw;
    }

    &__but1 {
        border: 3px solid #ffffff;
        border-radius: 100%;
        padding: 6px 12px;
        display: flex;
        top: 261px;
        margin-left: 30px;
        position: absolute;
    }

    &__from {
        border: 3px solid #ffffff;
        border-radius: 100%;
        padding: 0px 6px;

    }
}

.left__but:hover {
    background-color: #333333;
}


.right {
    &__but {
        border: 3px solid #ffffff;
        border-radius: 100%;
        padding: 6px 12px;
        display: flex;
        position: absolute;
        left: 95vw;
    }

    &__but1 {
        border: 3px solid #ffffff;
        border-radius: 100%;
        padding: 6px 12px;
        display: flex;
        position: absolute;
        top: 261px;
        left: 676px;
    }

    &__from {
        border: 3px solid #ffffff;
        border-radius: 100%;
        padding: 0px 6px;

    }
}

.right__but:hover {
    background-color: #333333;
}

.left_arrow {
    transform: rotate(199grad);
}

.resolution_value {
    font-family: Arial;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.resolution {
    display: flex;
    justify-content: center;
    margin-top: 945px;

    &__bl1 {
        display: flex;
        justify-content: end;
        margin-top: 27px;
        margin-right: 15px;
    }

    &__block1 {
        font-family: Arial;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__bl3 {
        display: flex;
        justify-content: center;
    }

    &__block3 {
        font-family: Arial;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 222px;
    }

    &__bl4 {
        display: flex;
        justify-content: end;
        margin-top: 17px;
        margin-right: 7px;
    }

    &__block4 {
        font-family: Arial;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__bl5 {
        display: flex;
        justify-content: end;
        margin-top: 25px;
        margin-right: 15px;
    }

    &__block5 {
        font-family: Arial;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__bl9 {
        display: flex;
        justify-content: end;
        margin-top: 25px;
        margin-right: 15px;
    }

}

.circle {
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.circle:hover {
    background-color: #ffffff;
}

.but_down {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 75px;

    &__block5 {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 26px;
        margin-bottom: 20px;
    }
}

.grey_bg {
    width: 100vw;
    height: 1290px;
    background-color: #f3f3f3;
    position: relative;
}

.pos_grid {
    display: flex;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    position: absolute;
}

.content {
    display: grid;
    grid-template: 1.72fr 1fr 1fr/repeat(3, 1fr);
    gap: 30px;

    .block1 {
        grid-column: 1/3;
        background-color: #cccccc;
        position: relative;
    }

    .block3 {
        grid-row: 1/3;
        grid-column: 3/4;
        background-color: #cccccc;
    }

    .block5 {
        grid-row: 2/4;
        grid-column: 2/3;
        background-color: #cccccc;
    }

    .block4,
    .block7,
    .block9 {
        background-color: #cccccc;
    }

}

.text {
    &__block1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 501px;
        background-color: rgba(0, 0, 0, 0.0);
        border: 1px solid rgba(255, 255, 255, 0.29);
        margin: 72px 134px 79px 135px;
        padding: 72px 33px;
        gap: 19px;
    }

    /*&__block1-hover{
        display: none;
        flex-direction: column;
        align-items: center;
    }*/


    &__block3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__block4 {
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;
        margin-top: 84px;
    }

    &__block5 {
        display: flex;
        gap: 19px;
        flex-direction: column;
        align-items: center;
        margin-top: 176px;
    }

    &__block7 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 18px;
    }

    &__block9 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 84px;
    }
}

/*.text__block1:hover{
    display: none;
}
.text__block1-hover{
    display: block;
}*/
.exclusive {
    font-family: Cousine;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.secret {
    font-family: Cousine;
    font-size: 23px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.sale {
    font-family: Cousine;
    font-size: 100px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.up {
    font-family: 'Merriweather Sans';
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    color: #ffffff;

    &__sale {
        font-family: Arial;
        font-weight: 900;
    }
}

.code {
    font-family: 'Roboto Condensed';
    font-size: 19px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.rectangle_white {
    width: 101px;
    height: 3px;
    background-color: #ffffff;

    &__bl1 {
        width: 70px;
        height: 2px;
        background-color: #ffffff;
    }

    &__bl7 {
        width: 50px;
        height: 2px;
        background-color: #ffffff;
    }
}

.t {
    &__bl1 {
        display: flex;
        align-items: baseline;
        gap: 10px;
    }

    /*&__bl1-hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }*/

    &__bl7 {
        display: flex;
        align-items: baseline;
        gap: 10px;
        margin-top: 66px;
    }

}

.disc {
    font-family: 'Roboto Condensed';
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.href {
    &__block1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    &__block3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 290px;
    }

    &__block4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }

    &__block5 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 151px;
    }

    &__block7 {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 64px;
    }
}

.get {
    font-family: 'Merriweather Sans';
    font-size: 14.1px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.get:hover {
    color: #cf4647
}

.left__but1:hover {
    background-color: #333333;
}

.right__but1:hover {
    background-color: #333333;
}

.the {
    font-family: Cousine;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #2f2f2f;
    margin-top: 50px;
}

.rectangle_black {
    width: 50px;
    height: 1px;
    background-color: #333333;
}

.hottest {
    font-family: 'Merriweather Sans';
    font-size: 25px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #333333;
}

.here {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f2f2f;
}

.hottest_style {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.jewerly {
    font-family: 'Merriweather Sans';
    font-size: 40px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.free {
    font-family: 'Roboto Condensed';
    font-size: 23px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.buy {
    font-family: 'Merriweather Sans';
    font-size: 14.6px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.buy:hover {
    color: #cf4647;
}

.lookbook {
    font-family: 'Roboto Condensed';
    font-size: 35px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.rectangle_white {
    width: 80px;
    height: 1px;
    background-color: #ffffff;
}

.women {
    font-family: Cousine;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
}

.rec_wom {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 19px;
}

.autum {
    font-family: Cousine;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.acess {
    font-family: 'Merriweather Sans';
    font-size: 30px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.complete {
    font-family: 'Roboto Condensed';
    font-size: 25px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.new {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.menu {
    margin-top: 60px;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.nav_menu {
    font-family: 'Merriweather Sans';
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
}

.down-block {
    visibility: hidden;
    width: 121px;
    height: 2px;
    background-color: #444444;
}

.nav-hr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-hr:hover .down-block {
    visibility: visible;
}

.cart_img {
    width: 270px;
    height: 351px;
    background-color: #cccccc;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product {
    display: flex;
    justify-content: center;
}

.prodct_content {
    display: grid;
    grid-template: 1fr 1fr/repeat(4, 1fr);
    gap: 30px;
}

.text_prod {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.description {
    font-family: 'Merriweather Sans';
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: #444444;
}

.price_prc {
    font-family: Cousine;
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
    color: #222222;
}

.price_none {
    font-family: Cousine;
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
    color: #999999;
}

.add {
    font-family: 'Merriweather Sans';
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
}

.hr-prod {
    display: flex;
    justify-content: center;
    border: 2px solid #444444;
    padding: 9px 0px;
    margin-top: 9px;
    margin-bottom: 8px;
}

.vertical {
    width: 2px;
    height: 16px;
    background-color: #444444;
    margin-left: 21px;
    margin-right: 25px;
}

.wishlist {
    font-family: 'Merriweather Sans';
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #333333;

}

.hr_add {
    display: flex;
    justify-content: space-between;
}

.wishlist:hover {
    border-bottom: 1px solid #000000;
}

.add:hover {
    color: #cf4647
}

.sale-prod {
    font-family: Arial;
    font-size: 17px;
    line-height: 17px;
    font-weight: 900;
    color: #cf4647;
    border: 3px solid #cf4647;
    padding: 5px;
    margin-right: 193px;
}

.square {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    &__black {
        width: 25px;
        height: 25px;
        background-color: #0e0c0f;
        border: 1px solid #555555;
        box-shadow: inset 0px 0px 0px 2px #ffffff;
    }

    &__blue {
        width: 25px;
        height: 25px;
        background-color: #202a4e;
        border: 1px solid #555555;
        box-shadow: inset 0px 0px 0px 2px #ffffff;

    }

    &__red {
        width: 25px;
        height: 25px;
        background-color: #923349;
        border: 1px solid #555555;
        box-shadow: inset 0px 0px 0px 2px #ffffff;
    }
}

.premier {
    font-family: Arial;
    font-size: 17px;
    line-height: 17px;
    font-weight: 900;
    color: #524656;
    border: 3px solid #524656;
    padding: 5px;
    margin-right: 193px;
}

.raiting {
    margin-top: 6px;
}

.black_line {
    width: 520px;
    height: 1px;
    background-color: #dddddd
}

.show_more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
    margin-bottom: 121px;
}

.btn_show {
    font-family: 'Merriweather Sans';
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #555555;
}

.btn_show:hover {
    color: #cf4647
}

.about_us {
    margin-bottom: 60px;
}

.black_bcg {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
}

.img-av {
    width: 180px;
    height: 180px;
    background-color: #cccccc;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.about {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.fengo-shop {
    margin-top: 90px;
    margin-bottom: 34px;
    font-family: Cousine;
    font-size: 17px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b6b6b6;
}

.cart_us {
    display: flex;
    gap: 19px;
}

.text_us {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.morbi {
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #888888;
}

.hr_us {
    font-family: 'Merriweather Sans';
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b6b6b6;
}

.res {
    font-family: Arial;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
}

.from_blog {
    margin-top: 60px;
    margin-bottom: 57px;
}

.head-but {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__fav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 174px;
    }
}

.blog {
    font-family: Cousine;
    font-size: 17px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b6b6b6;
}

.left_img {
    width: 5px;

    &__left {
        transform: rotate(199grad);
        width: 5px;
    }
}
.img1{
    width: 205px;
    height: 150px;
    background-color: #cccccc;
}
.img2{
    width: 205px;
    height: 150px;
    background-color: #cccccc;
}
.img_from{
    display: flex;
    justify-content: space-between;
    &__fav{
        display: flex;
        gap: 49px;
        justify-content: center;
        margin-bottom: 60px;
    }
}
.pellentesque{
    font-family: Cousine;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #999999;
    margin-top: 20px;
}
.head-quik{
    font-family: Cousine;
    font-size: 17px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b6b6b6;
}
.message{
    margin-top: 60px;
}
.cont_mes{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}
.input{
    display: flex;
    flex-direction: column; 
    gap: 10px;
   
}
.inp{
    width: 205px;
    height: 30px;
    background-color: rgba(42,42,42,0.0);
    border: 1px solid #666666;
    color: #666666;
    padding-left: 5px;
    padding-right: 5px;
    &__mes{
        width: 205px;
        height: 127px;
        background-color: rgba(42,42,42,0.0);
        border: 1px solid #666666;
        color: #666666;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.send_msg{
    font-family: 'Merriweather Sans';
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #aeaeae;
}
.email{
    margin-top: 60px;
    margin-bottom: 116px;
    display: flex;
    justify-content: center;
}
.inp_mail{
    width: 388px;
    height: 50px;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid #666666;
    padding-left: 19px;
    padding-right: 43px;
    color: #666666;
}
.but_mail{
    font-family: 'Didact Gothic';
    font-size: 27px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #999999;
    background:none;
    position: absolute;
    right: 0.5vw;
    top: 6px;
    border-style: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
.ent_mail{
    position: relative;
}
.favorite{
    margin-top: 90px;
}
.img_fav{
    width: 150px;
    height: 195px;
    background-color: #cccccc;
}
.fav_text{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}
.puplum{
    font-family: 'Merriweather Sans';
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #888888;
}
.fav_price{
    font-family: Cousine;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #ffffff;
}
.fav_none{
    font-family: Cousine;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #8c8b8b;
}
.twitter{
    margin-top: 121px;
   
}
.head_but__fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}
.twit{
    font-family: Cousine;
    font-size: 17.1px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b6b6b6;
}
.follow{
    width: 70px;
    height: 22px;
    background-color: rgba(250,250,250,0.0);
    border: 1px solid #b5b5b5;
    font-family: 'Merriweather Sans';
    font-size: 12.1px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b5b5b5;
}
.logo_fot{
    display: flex;
    gap: 20px;
    margin-bottom: 23px;
}
.promo{
    font-family: 'Roboto Condensed';
    font-size: 17.1px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b1b1b1;
}
.adr{
    font-family: Arial;
    font-size: 13.1px;
    line-height: 18px;
    font-weight: 400;
    color: #777777;
}
.txt_logo{
    display: flex;
    flex-direction: column;
    gap: 9px;
   
}
.vivamus{
    font-family: Arial;
    font-size: 14.1px;
    line-height: 20px;
    font-weight: 400;
    color: #888888;
}
.bit{
    color: #cccccc;
}
.txt_fot{
     margin-bottom: 18px;
}
.logo_but{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-fot{
    font-family: Arial;
    font-size: 13.1px;
    line-height: 26px;
    font-weight: 400;
    color: #666666;
}
.but-logo{
    display: flex;
    gap: 20px;
}
.hr-twit{
    font-family: Arial;
    font-size: 13.1px;
    line-height: 26px;
    font-weight: 400;
    color: #666666;
    display:flex;
    gap: 7px;
    align-items: center;
}
.but-img{
    width: 9px;
    height: 13px;
}
.promokit{
    margin-top: 44px;
}
.facebook{
    margin-top: 111px;
}
.fsb{
    font-family: Cousine;
    font-size: 17px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b6b6b6;
}
.like{
    width: 60px;
    height: 22px;
    background-color: rgba(250,250,250,0.0);
    border: 1px solid #b5b5b5;
    font-family: 'Merriweather Sans';
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b5b5b5;
}
.text_face{
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #888888;
}
.kit{
    color: #cccccc;
}
.icon_fsb{
    width: 60px;
    height: 60px;
    background-color:#b5b5b5;
    border: 5px solid #2f2f2f;
    
}
.icon{
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
   
}
.icon1, .icon2{
    display: flex;
    gap: 23px;
}
.rect{
    font-family: Arial;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
}
.information{
    margin-top: 89px;
}
.head_ul{
    font-family: Cousine;
    font-size: 17px;
    line-height: 19px;
    font-weight: 400;
    color: #b6b6b6;
    margin-bottom: 15px;
}
.info_ul{
    display: flex;
    flex-direction: column;
    list-style-type:none ;
}
.hr_ul1{
    font-family: Arial;
    font-size: 14px;
    line-height: 34px;
    font-weight: 400;
    color: #888888;
}
.my_acc{
    margin-top: 120px;
}
.head_myacc{
    font-family: Cousine;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #b6b6b6;
    margin-bottom: 14px;
}
.hr_myacc{
    font-family: Arial;
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
    color: #888888;
}
.customer{
    margin-top: 121px;
}
.hr_cust{
    font-family: Arial;
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
    color: #888888;
}
.contact_ul{
    margin-top: 118px;
}
.hr_ul{
    font-family: Arial;
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
    color: #888888;
}
.hr_ul1:hover{
    color:#cf4647;
}
.hr_myacc:hover{
    color:#cf4647;
}
.hr_cust:hover{
    color: #cf4647;
}
.pay_footer{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    gap: 245px;
    align-items: center;
    padding-top: 37px;
}
.pay_system{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-right: 238px;
}
.res-fot{
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.icon_fot{
    display: flex;
    gap: 5px;
}
.facebk{
    border: 2px solid #999999;
    padding: 10px 16px 12px 15px;
}
.twit{
    border: 2px solid #999999;
    padding: 11px 13px 11px 14px;
}
.wifi{
    border: 2px solid #999999;
    padding: 11px;
}
.cube{
    border: 2px solid #999999;
    padding: 12px 12px 11px 11px;
}
.in{
    border: 2px solid #999999;
    padding: 11px 11px 12px 11px;
}
.point{
    border: 2px solid #999999;
    padding: 16px 11px 16px 12px;
}
.skype{
    border: 2px solid #999999;
    padding: 11px 10px 10px 11px;
}
.gmail{
    border: 2px solid #999999;
    padding: 13px 10px 13px 11px;
}
.up{
    border: 2px solid #999999;
    border-radius: 100%;
    padding: 18px 14px 17px 14px;
}
.roll_up{
    background-color: #1f1f1f;
    border-style: none;
}

.facebk:hover{
    background-color: #3b5a9a;
}
.twit:hover{
    background-color: #67b5d3;
}
.wifi:hover{
    background-color: #e78c2f;
}
.cube:hover{
    background-color: #3b5a9a;
}
.in:hover{
    background-color: #4975b6;
}
.point:hover{
    background-color: #b6457a;
}
.skype:hover{
    background-color: #3da5cc;
}
.gmail:hover{
    background-color: #dd4b4b;
}
