* {
    margin: 0px;
    padding: 0px;
}

$colorText: #f16d7f;
$backgroundCardText: #ffffff;

%font-card-basik {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

body {
    width: 1600px;
    display: flex;
    flex-direction: column;
    font-family: lato, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 130px;
    background: #ffffff;
    align-items: center;
    height: 100px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.head1_browse {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    align-items: center;
}

.head1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.brand_logo {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;

}

.color_text {
    font-weight: 900;
    color: $colorText;
}

.but_head {
    display: flex;
}

.push_head {
    position: relative;
    right: 86px;
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
}

.field_head {
    position: absolute;
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    padding: 1px 35px 1px 10px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4
}

.search {
    position: relative;
    width: 37px;
    left: 193px;
    border: 1px solid #e6e6e6;
}

.head2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.basket {
    width: 32px;
    height: 29px;
    background: none;
    border-style: none;
}

.my_account {
    width: 130px;
    height: 38px;
    background-color: $colorText;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    border-style: none;
}

.menu {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    &_nav1 {
        display: flex;
        flex-direction: row;
        gap: 100px;
        list-style-type: none;
    }
}

.menu_list {
    position: relative;
}


.mega-box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    display: none;
    position: absolute;
    top: 34px;
    left: -23px;
    z-index: 1;
}

.mega-box::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 33px;
    transform: rotate(45grad);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.menu_list:hover .mega-box {
    display: flex;
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box::before {
    right: 28px;
    left: auto;
}

.menu_item {
    margin-right: 46px;
}

.menu_item:last-of-type {
    margin-right: 0;
}

.menu_hedding {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
}

.mega_link {
    display: block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
}

.mega_link:hover {
    color: $colorText;
}

.link_menu {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.nav_arrival {
    display: flex;
    justify-content: space-around;
    height: 148px;
    background-color: #f8f3f4;
    align-items: center;
}

.text_arrival {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: $colorText;
}

.links1_arrival {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;

    &_page {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: $colorText
    }
}

.links1_arrival:hover {
    color: $colorText;
}

.delivery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(34, 34, 36);
    gap: 30px;
    padding: 103px 230px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

}

.free_delivery {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FBFBFB;
}

.worldwide {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FBFBFB;
}

.subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 223.3px;
    padding: 97px 230px 126px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/Layer\ 41.png);
    background-size: 100%;
    margin-bottom: 50px;
}

.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.register1 {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.register2 {
    gap: 32px;
}

.text6 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.avatar {
    border-radius: 50%;
    width: 100px;
}

.vestibulum {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.bin {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorText
}

.dhaka {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.bin_bh {
    gap: 10px;
}

.subs {
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.subs1 {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
}

.push {
    position: absolute;
    width: 100px;
    height: 49px;
    background: rgb(241, 109, 127);
    border: none;
    border-radius: 0px 24.5px 24.5px 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}

.field {
    position: relative;
    width: 256px;
    height: 49px;
    border: none;
    background: rgb(225, 225, 225);
    border-radius: 24.5px 0px 0px 24.5px;
    padding: 0px 22px;
}

.but {
    position: relative;
    right: 47px;
}

.nav_down {
    margin-bottom: 30px;
    display: grid;
    grid-template: 1fr/40% 10% 10% 10%;
    gap: 100px;
    justify-content: center;
}

.paragraph_nav {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.brand_menu {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.head_nav1 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorText
}

.nav_link {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.href_nav {
    font-size: 16px;
    line-height: 59px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.href_nav:hover {
    color: $colorText;
}

.footer {
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0px;
}

.icon_fot {
    display: flex;
    gap: 7.3px;
}

.par_fot {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a
}

.ic_f:hover path {
    fill: #FF6A6A;
    stroke: #FBFBFB;
}
.content_product{
    margin-top: 59px;
    display: flex;
    gap: 56px;
}
.menu_detalis{
    margin-left: 230px;
    width: 243px;
}
.category, .brand_det, .designer_det{
    display: flex;
    margin-bottom: 18px;
    border-bottom: 1px solid #ebebeb;;
}
.det_det {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorText;
    display: block;
    width: 223px;
    display: flex;
    align-items: center;
    gap: 11px;
}
.rectp{
    width: 5px;
    height: 37px;
    background-color: $colorText;
}
.det_det::after{
    content: '\25BC';
}
.category[open]>.det_det::after{
    content: '\25B2'; 
}

.list_det{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.det_hr{
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
    margin-left: 17px;
}
.det_hr:hover{
    color: $colorText;
}
.cart_items{
    display: flex;
    flex-direction: column;
}
.filter_product{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 58px;
}

.head_filter{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}
.hr-par{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    cursor: pointer;
}
.feature{
    color:#dfdfdf
}
.size_ch{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-right: 23px;
}
.size_inp{
    margin-right: 10px;
    cursor: pointer;
}
.bar{
    cursor: pointer;
}
.block_sort{
    width: 849px;
    height: 50px;
    background-color: #f3f3f3;
    margin-top: 41px;
    display: flex;
    gap: 10px;
    margin-bottom: 49px;
}
.field_sort{
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    display: flex;
    border-right: 1px solid #ebebeb;
    padding-left: 13px;
    padding-right: 8px;
}
.sort{
    display: flex;
    align-items: center;
}
.sort .sort_by{
    display: flex;
    padding-left: 9px;
}
.select{
   border-style: none;
}
.option{
    padding: 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
}
.price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    width: 849px;
    margin-bottom: 43px;
  }
  
  .head_item {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 17px;
  }
  
  .price_item {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .img_item {
    width: 100%;
  }
  
  .text3 {
    padding: 20px;
  }
  
  .item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  
  .item:hover .img_item {
    filter: brightness(30%);
    transition: 2s;
  }
  
  .add, .upt, .like_btn {
    display: flex;
    border: 1px solid #ffffff;
    padding: 10px;
    align-items: center;
    /*pointer-events: all;*/
  }
  .upt, .like_btn{
    justify-content: center;
} 

  
  .add_txt {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }
  
  .img_cart {
    margin-right: 10px;
  }
  
  .add_to {
    position: absolute;
    top: 98px;
   
    /*pointer-events: none;*/
    display: none;
  }
  
  .add:hover {
    box-shadow: 0px 0px 10px 0px #ffffff;
  }
  
  .item:hover .add_to {
    display: flex;
  }
  .update{
    position: absolute;
    top: 145px;
    left: 70px;
    width: 57px;
    height: 38px;
    display: none;
  }
  .like{
    position: absolute;
    top: 145px;
    right: 70px;
    width: 57px;
    height: 38px;
    display: none;
  }
.upt_img{
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}
.like_img{
    padding-left: 3px;
    padding-right: 3px;
}
.item:hover .update{
    display: block;
}
.item:hover .like{
    display: block;

}
.update:hover{
    box-shadow: 0px 0px 10px 0px #ffffff;
}
.like:hover{
    box-shadow: 0px 0px 10px 0px $colorText;
}
.nav_page{
    display: flex;
    margin-left: 522px;
    margin-right: 231px;
    justify-content: space-between;
    margin-bottom: 110px;
}
.pagination{
    display: flex;
    
    list-style-type: none;
    gap: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 261px;
    height: 44px;
    align-items: center;
    justify-content: center;
}
.page-link{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #c4c4c4;
}
.page-link-act{
    color: $colorText;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.page-link:hover{
    color: $colorText;
}
.view{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid $colorText;
    border-radius: 3px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: $colorText;
    cursor: pointer;
}
.view:hover{
    background-color: $colorText;
    color: #ffffff;
}
.push:hover{
    background-color: rgba(242,242,242,0.5);;
    color: $colorText;
}